<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Michael Li</title>
    <!-- css links -->
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
    <body>
        <header>
            <h1 id="webname">Michael Li</h1>
            <nav>
                <a href = '../index.html'>Home</a>
                <a href = 'cv.html'>CV</a>
                <a href = 'contact.html'>Contact me</a>
                <a href = 'fun.html'>For fun</a>
            </nav>
            
            
        </header>
        <div>
            <h2>Curriculum Vitae</h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>Carnegie Mellon University</td>
                    <td>BHA in Information Systems and Architecture; Additional Major in HCI</td>
                </tr>
                <tr>
                    <td>American International School of Guangzhou</td>
                    <td>International Baccalaureate</td>
                </tr>
                <tr>
                    <td>Institue 3</td>
                    <td>filler institiue per instruction</td>
                </tr>
                <tr>
                    <td>Institue 4</td>
                    <td>filler institiue per instruction</td>
                </tr>
            </table>

            <a href = '../static/michaelli_resume.pdf'>my resume (pdf)</a>
        </div>

        <footer>
            <p>Copyright © 2025. Designed and built by Michael Li. All rights reserved.</p>
        </footer>
        
    </body>
</html>