<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Your name</title>
</head>
    <body>
        <header>
            <nav>
                <!-- Inside the <header>, add a <nav> with links 
                    to "Home", "CV", "Contact me", and "For fun". 
                    HINT: index.html will be in the root folder but
                     the three other papers will be in the subfolder “views.” -->
                <a href = 'index.html'>Home</a>
                <a href = 'views/cv.html'>CV</a>
                <a href = 'views/contact.html'>Contact me</a>
                <a href = 'views/fun.html'>For fun</a>
            </nav>
            <h1>Michael Li</h1>
            
        </header>
        <div>
            <h2>Contact Me</h2>
            <p>Hello World</p>
            
            <!-- Add a table with your contact information. phone: 4127588177 email: mml2@andrew.cmu.edu-->
            <table>
                <tr>
                    <th>Phone</th>
                    <th>Email</th>
                </tr>
                <tr>
                    <td>4127588177</td>
                    <td>mml2@andrew.cmu.edu</td>
                </tr>
            </table>

            <!-- Add a form with required fields for name, email, and comment. -->
            <form>
                <input type="text" name="name" placeholder="Name" required>
                <input type="email" name="email" placeholder="Email" required>
                <textarea name="comment" placeholder="Comment" required></textarea>
            </form>


             
        </div>

        <footer>

        </footer>
        
    </body>
</html>