<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Your name</title>
</head>
    <body>
        <header>
            <h1>Michael Li</h1>
            <nav>
                <!-- Inside the <header>, add a <nav> with links 
                    to "Home", "CV", "Contact me", and "For fun". 
                    HINT: index.html will be in the root folder but
                     the three other papers will be in the subfolder “views.” -->
                <a href = '../index.html'>Home</a>
                <a href = 'cv.html'>CV</a>
                <a href = 'contact.html'>Contact me</a>
                <a href = 'fun.html'>For fun</a>
            </nav>
            
            
        </header>
        <div>
            <h2>Contact Me</h2>

            <!-- Add a form with required fields for name, email, and comment. -->
            <form>
                <input type="text" name="name" placeholder="Name" required>
                <input type="email" name="email" placeholder="Email" required>
                <textarea name="comment" placeholder="Comment" required></textarea>
                <!-- add button for submit -->
                <button type="submit">SEND</button>
            </form>

            <!-- Add a table with your contact information. phone: 4127588177 email: mml2@andrew.cmu.edu-->
            <table>
                <tr>
                    <th>Contact Method</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>4127588177</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>mml2@andrew.cmu.edu</td>
                </tr>
                <tr>
                    <td>LinkedIn</td>
                    <td>https://www.linkedin.com/in/michael-m-li/</td>
                </tr>
            </table>


             
        </div>

        <footer>
            <p>Copyright © 2025. Designed and built by Michael Li. All rights reserved.</p>
        </footer>
        
    </body>
</html>